<% include elements/header %>

    <section class="content">
        <% if(ranking.length > 0) { %>
            <div class="container">
                <h2>Ranking dos Usuários</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Usuário</th>
                            <th>Pontos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ranking.forEach( rank => { %>
                            <tr>
                                <th scope="row">
                                    <%= rank.id %>
                                </th>
                                <td>
                                    <%= rank.name %>
                                </td>
                                <td>
                                    <% if(!rank.score) { %>
                                        Nenhum Ponto Computado
                                        <% } else { %>
                                            <%= rank.score %>
                                                <% } %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <% } else { %>
                <div class="container">
                    <p class="alert alert-info">Nenhum Ponto Computado.</p>
                </div>
                <% } %>
    </section>

    <% include elements/footer %>