<% include elements/header %>

    <section class="content">
        <div class="container">
            <div class="row">
                <h2>Palpite:
                    <%= group.name %>
                </h2>
            </div>
        </div>

        <% if(group.role === 'owner') { %>
            <% if(pendings.length > 0) { %>
                <div class="container">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Usuários Pendentes</th>
                                <th></th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% pendings.forEach( user => { %>
                                <tr>
                                    <th scope="row">
                                        <%= user.id %>
                                    </th>
                                    <td>
                                        <a href="/groups/<%= user.id %>">
                                            <%= user.name %>
                                        </a>
                                    </td>
                                    <td>
                                        <%= user.role %>
                                    </td>
                                    <td>
                                        <a href="/groups/<%= group.id %>/pending/<%= user.id %>/yes">
                                            <i class="fa fa-check"></i> Aceitar
                                        </a> |
                                        <a href="/groups/<%= group.id %>/pending/<%= user.id %>/no">
                                            <i class="fa fa-trash"></i> Negar
                                        </a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
                <% } else { %>
                    <div class="container">
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            Nenhum Usuário Pendente.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <% } %>
                        <% } %>
                            <% if(group.role === 'pending'){ %>
                                <div class="container">
                                    <p class="alert alert-info">
                                        <i class="fa fa-clock"></i> Você precisa ser aprovado pelo dono do Grupo.</p>
                                </div>
                                <% } else { %>
                                    <div class="container">
                                        <form method="POST">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Jogos</th>
                                                        <th>Pontuação</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% games.forEach( game => { %>
                                                        <tr>
                                                            <td>
                                                                <% if(game.guess_a){ %>
                                                                    <b>
                                                                        <%= game.guess_a%>
                                                                    </b>
                                                                    <% } else { %>
                                                                        <input name="team_<%= game.id %>[a]">
                                                                        <% } %>

                                                                            <%= game.team_a %>
                                                                                <strong>VS</strong>
                                                                                <%= game.team_b %>

                                                                                    <% if(game.guess_b){ %>
                                                                                        <b>
                                                                                            <%= game.guess_b%>
                                                                                        </b>
                                                                                        <% } else { %>
                                                                                            <input name="team_<%= game.id %>[b]">
                                                                                            <% } %>
                                                            </td>
                                                            <td>
                                                                <%= game.score %>
                                                            </td>
                                                        </tr>
                                                        <% }) %>
                                                </tbody>
                                            </table>
                                            <input type="submit" value="Salvar Apostas" class="btn btn-primary">
                                        </form>
                                    </div>
                                    <% } %>
    </section>

    <% include elements/footer %>