<% include elements/header %>

    <section class="content">
        <div class="container">
            <div class="row">
                <h2>Gerenciamento de Grupos</h2>
            </div>
            <form class="row" method="POST">
                <div class="col-6 md-form">
                    <i class="fa fa-user prefix grey-text"></i>
                    <input type="text" id="form3" class="form-control" name="name">
                    <label for="form3">Nome do Grupo</label>
                </div>
                <div class="text-center">
                    <button class="btn btn-success">Criar Grupo
                        <i class="fa fa-check-circle ml-1"></i>
                    </button>
                </div>
            </form>
        </div>
        <% if(groups.length > 0) { %>
            <div class="container">
                <h2>Listagem dos Grupos</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Grupo</th>
                            <th></th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% groups.forEach( group => { %>
                            <tr>
                                <th scope="row">
                                    <%= group.id %>
                                </th>
                                <td>
                                    <% if(group.role && group.role !=='pending') { %>
                                        <a href="/groups/<%= group.id %>">
                                            <% } %>
                                                <%= group.name %>
                                        </a>
                                </td>
                                <td>
                                    <% if(group.role === 'owner'){ %>
                                        Fundador
                                        <% } else { %>
                                            <!-- <%= group.role %> -->
                                            Usuário
                                            <% } %>
                                </td>
                                <td>
                                    <% if(group.role === 'owner') { %>
                                        <a href="/admin/groups/delete/<%= group.id %>">
                                            <i class="fa fa-trash"></i> Excluir Grupo</a>
                                        <% } %>

                                            <% if(group.role === 'pending') { %>
                                                <i class="fa fa-hourglass"></i> Solicitação Pendente
                                                <% } %>

                                                    <% if(!group.role) { %>
                                                        <a href="/groups/<%= group.id %>/join">Solicitar Entrada</a>
                                                        <% } %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <% } else { %>
                <div class="container">
                    <p class="alert alert-info">Nenhum Grupo Cadastrado.</p>
                </div>
                <% } %>
    </section>

    <% include elements/footer %>