<!DOCTYPE html>
<html lang="en" class="full-height">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Futiba Club - Fullstack Academy - DevPleno</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/futiba.css" rel="stylesheet">
</head>

<body>
    <header>
        <!--Navbar-->
        <nav class="navbar-home navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="/img-futiba-club/logo.png" height="30" alt="Futiba Club">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
                    <% include elements/menu-items %>
                </div>
            </div>
        </nav>

        <!--Intro Section-->
        <section class="view intro-2 hm-gradient">
            <div class="full-bg-img">
                <div class="container flex-center">
                    <div class="row flex-center">
                        <div class="col-md-10 col-lg-6 text-center text-md-left margins">
                            <div class="white-text">
                                <img src="/img-futiba-club/logo2.png" />
                                <h1 class="h1-responsive font-bold mt-sm-5 wow fadeInLeft" data-wow-delay="0.3s">Desafie seus amigos</h1>
                                <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                                <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Quem consegue acertar mais jogos da Copa e do Brasileirão?
                                </h6>
                                <br>
                                <% if(!user) { %>
                                    <a class="btn btn-white dark-grey-text font-bold wow fadeInLeft" data-wow-delay="0.3s" href='/new-account'>Criar conta</a>
                                    <% } %>
                                        <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s" href='/classification'>Ver classificação</a>

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6 hidden-md-down wow fadeInRight d-flex justify-content-center" data-wow-delay="0.3s">
                            <img src="/img-futiba-club/mock.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>

    <br />
    <br />

    <section>
        <% if(ranking.length > 0) { %>
            <div class="container">
                <h2>
                    <i class="fa fa-star"></i> TOP
                    <strong>3</strong> Usuários</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Usuário</th>
                            <th>Pontos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% ranking.forEach( rank => { %>
                            <tr>
                                <th scope="row">
                                    <%= rank.id %>
                                </th>
                                <td>
                                    <%= rank.name %>
                                </td>
                                <td>
                                    <% if(!rank.score) { %>
                                        Nenhum Ponto Computado
                                        <% } else { %>
                                            <%= rank.score %>
                                                <% } %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </div>
            <% } else { %>
                <div class="container">
                    <p class="alert alert-info">Nenhum Ponto Computado.</p>
                </div>
                <% } %>
    </section>

    <% include elements/footer %>