<% include elements/header %>

    <section class="content">
        <div class="container">
            <div class="row">
                <form class="col" method='post'>
                    <p class="h5 text-center mb-4">Entrar</p>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="orangeForm-email" class="form-control" name="email">
                        <label for="orangeForm-email">E-mail</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="orangeForm-pass" class="form-control" name="passwd">
                        <label for="orangeForm-pass">Senha</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-deep-orange">Entrar</button>
                        <% if(error) { %>
                            <p>
                                <%= error %>
                            </p>
                            <% } %>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <% include elements/footer %>