<% include elements/header %>

    <section class="content">
        <div class="container">
            <div class="row">
                <form class="col" method="post">
                    <p class="h5 text-center mb-4">Criar uma conta</p>

                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="name" class="form-control" name="name">
                        <label for="name">Seu nome</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="email" class="form-control" name="email">
                        <label for="email">Seu e-mail</label>
                        <% if(error){ %>
                            <p>
                                <%= error %>
                            </p>
                            <% } %>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="pass" class="form-control" name="passwd">
                        <label for="pass">Sua senha</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-deep-orange">Criar conta</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <% include elements/footer %>